@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="UserName">UserName</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password"></span>
            </div>

            <div class="form-group">
                <label asp-for="RememberMe">Remember Me?</label>
                <input asp-for="RememberMe" type="checkbox" class="checkbox" />
                <span asp-validation-for="RememberMe"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-success"/>
            </div>
        </form>
    </div>
</div>